* {
    box-sizing: border-box;
}

div.head_line {
	float: left;
	height: 6vh;
	width: 99vw;
	background-color: rgb(90,150,90);
}
div.button {
	float: left;
	height: 100%;
	width: 10%;

	font-size: 3vh;
	line-height: 6vh;
	text-align: center;
}

div.notification {
	float: left;
	height: 6vh;
	width: 99vw;
	
	font-size: 4vh;
	line-height: 6vh;
	text-align: center;
	color: rgb(90,90,90);
}
div.content {
	float: left;
	height: 80vh;
	width: 99vw;
}
div.row {
	float: left;
	height: 26.7vh;
	width: 99vw;
}
div.cell {
	float: left;
	height: 100%;
	width: 33vw;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
	border-right-style: solid;
	border-right-color: rgb(255,255,255);
	background-color: rgb(120,110,110);
	
	font-size: 10vh;
	line-height: 26vh;
	text-align: center;
	color: rgb(255,255,255);
}
div.cellr {
	float: left;
	height: 100%;
	width: 33vw;
	border-bottom-style: solid;
	border-bottom-color: rgb(255,255,255);
	background-color: rgb(120,110,110);
	
	font-size: 10vh;
	line-height: 26vh;
	text-align: center;
	color: rgb(255,255,255);
}
div.foot_line {
	float: left;
	height: 6vh;
	width: 99vw;
	background-color: rgb(90,150,90);

	font-size: 3vh;
	line-height: 6vh;
	text-align:center;
}